@import "tailwindcss";

@theme {
  --color-blue: #279CFB;
  --color-purp: #8758FF;
  --color-orang: #f07e2d;
  --color-greeen:  #45b329;
}

:root {
  --background: #F2F0EF;
  --foreground: #181818;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #F2F0EF;
  }
} */

@font-face {
  font-family: 'ITC Avant Garde';
  src: url('/fonts/ITCAvantGardePro-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'ITC Avant Garde Book';
  src: url('/fonts/ITCAvantGardeGothicLTBook.ttf') format('truetype');
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/PPNeueMontreal-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/PPNeueMontreal-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/PPNeueMontreal-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/PPNeueMontreal-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/PPNeueMontreal-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/PPNeueMontreal-SemiBolditalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'PP Neue Montreal', Poppins, Arial, Helvetica, sans-serif;
}

@layer utilities {
  .font-avant {
    font-family: 'ITC Avant Garde', sans-serif;
  }
  .font-avant-book {
    font-family: 'ITC Avant Garde Book', sans-serif;
  }
  .font-pp-neue-montreal {
    font-family: 'PP Neue Montreal', sans-serif;
  }
}
